.coins-table {
    border-collapse: collapse;
}

.coins-table__header-cell, .coins-table__cell {
    border: 1px solid black;
    padding: 6px;
}

.coins-table__cell--clickable {
    cursor: pointer;
}